.save-btn {
  background: #219ebc;
  border: none;
  border-radius: 2px;
  color: white;
  padding: 5px 20px;
  font-size: 1.1rem;
}

.save-btn:hover {
  transform: scale(1.1);
}

.editor-container {
  flex: 1;
  margin: 10px;
  padding: 10px;
  border: 1px solid gray;
}
